.input{
  font-family: var(--fontPrimary), var(--fontSecondary), var(--fontFallback);
  font-weight: var(--fontWeight);
  padding: var(--inputPadding) calc(var(--inputPadding) * 2);
  border: 1px solid var(--inputBorderColor);
  border-radius: var(--inputBorderRadius);
  font-size: var(--fontSize);
  width: var(--inputWidth);
  color: var(--textColor);
}

.input:focus{
  border-color: var(--inputHighlightColor);
}