@import "./../../../variables";

@mixin button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  &:hover{
    background-color: $hoverColor;
  }
}

.wrapper{
  padding: $innerPadding/2 $innerPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  button{
    @include button;
    padding: 8px;
    border-radius: 4px;
  }
}

.stepper{
  button{
    @include button;
    font-weight: bold;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
  }
}