@import "./../../../variables";

.datepicker-wrapper{
  width: $datePickerWidth;
  //border: 1px solid gray;
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0 ,0 ,0, 0.12);
}