:root {
  --fontPrimary: 'Helvetica Neue';
  --fontSecondary: Arial;
  --fontFallback: 'sans-serif';
  --fontSize: 16px;
  --fontSizeSmall: 12px;
  --fontSizeBig: 34px;
  --datePickerWidth: calc(var(--calendarWidth) + var(--innerPadding) * 2);
  --calendarWidth: 280px;
  --calendarHeight: 247px;
  --innerPadding: 16px;
  --weekdayHeight: 36px;
  --entryHeight: 38px;
  --entryMargin: 2px;
  --datepickerBorderRadius: 4px;
  --entryBorderRadius: 4px;
  --inputHeight: 25px;
  --bgColor: white;
  --textColor: black;
  --weekendTextColor: red;
  --headerTextColor: white;
  --borderColor: rgba(0, 0, 0, 0.38);
  --modalBgColor: rgba(0, 0, 0, 0.38);
  --weekDayColor: rgba(0, 0, 0, 0.38);
  --entryHoverColor: rgba(0, 0, 0, 0.08);
  --entrySelectedColor: #43a047;
  --entryHighlightColor: lightblue;
  --headerBgColor: #43a047;
}