@import "./../../../variables";

.weekday{
  //margin-left: 3px;
  //width: $dayWidth;
  text-align: center;
  //padding: $basePadding;
  box-sizing: border-box;
  flex: $dayCellFlex;
  height: $dayHeight;
  line-height: $dayHeight;
  display: inline-block;
  vertical-align: middle;
  color: $gray;
}