@import "./../../../variables";

.weekdays-wrapper{
  display: flex;
  border-bottom: 1px solid $gray;
  margin-bottom: $basePadding;
  padding: 0 $innerPadding;
  box-sizing: border-box;
}

.weekday{
  //margin-left: 3px;
  //width: $dayWidth;
  text-align: center;
  //padding: $basePadding;
  box-sizing: border-box;
  flex: $dayCellFlex;
  height: $dayHeight;
  line-height: $dayHeight;
  display: inline-block;
  vertical-align: middle;
  color: $gray;
}