@import "./../../../variables";

.grid{
  display: flex;
  border-bottom: 1px solid $gray;
  margin-bottom: $basePadding;
  padding: 0 $innerPadding;
  box-sizing: border-box;
}

.wrapper{
  text-align: center;
  box-sizing: border-box;
  flex: $dayCellFlex;
  height: $dayHeight;
  line-height: $dayHeight;
  display: inline-block;
  vertical-align: middle;
  color: $gray;
}