.grid{
  display: flex;
  border-bottom: 1px solid var(--gray);
  margin-bottom: var(--basePadding);
  padding: 0 var(--innerPadding);
  box-sizing: border-box;
}

.wrapper{
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 calc(100% / 7);
  height: var(--dayHeight);
  line-height: var(--dayHeight);
  display: inline-block;
  vertical-align: middle;
  color: var(--gray);
}