.grid {
  display: flex;
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: var(--innerPadding);
  padding: 0 var(--innerPadding);
  box-sizing: border-box;
  height: var(--entryHeight);
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 calc(100% / 7);
  height: var(--entryHeight);
  line-height: var(--entryHeight);
  display: inline-block;
  vertical-align: middle;
  color: var(--weekDayColor);
  user-select: none;
  cursor: default;
}
