.wrapper {
  overflow: visible;
  position: relative;
}

.wrapper.bottom {
  padding-top: 20px;
}

.wrapper.top {
  padding-bottom: 20px;
}

.wrapper.right {
  margin-top: -20px;
  padding-left: 20px;
}

.wrapper.left {
  margin-top: -20px;
  padding-right: 20px;
}

.wrapper > *:not(.triangle) {
  position: relative;
  z-index: 1;
}

.triangle {
  height: 0;
  position: absolute;
  width: 0;
  z-index: 2;
}

.triangle.bottom {
  border-bottom: 15px solid var(--bgColor);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  left: 30px;
  top: 5px;
}

.triangle.top {
  border-bottom: none;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--bgColor);
  bottom: 5px;
  left: 30px;
}

.triangle.right {
  border-bottom: 15px solid transparent;
  border-left: none;
  border-right: 15px solid var(--bgColor);
  border-top: 15px solid transparent;
  left: 5px;
  top: 15px;
}

.triangle.left {
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--bgColor);
  border-top: 15px solid transparent;
  left: var(--datePickerWidth);
  top: 15px;
}
