.scrollContainer {
  height: calc(var(--calendarHeight) + var(--entryHeight) + var(--innerPadding) / 2);
  overflow: auto;
  padding: 0 0 var(--innerPadding);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 var(--innerPadding);
  width: var(--calendarWidth);
}

.wrapper {
  border: 1px solid var(--bgColor);
  border-radius: var(--entryBorderRadius);
  box-sizing: border-box;
  color: var(--textColor);
  cursor: pointer;
  flex: 0 1 calc(100% / 5 - 4px);
  height: var(--entryHeight);
  line-height: var(--entryHeight);
  margin: var(--innerPadding) var(--entryMargin) 0;
  text-align: center;
  user-select: none;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:hover,
.wrapper:focus:not(.isSelected) {
  background-color: var(--entryHoverColor);
  color: var(--textColor);
}

.isSelected {
  background-color: var(--entrySelectedColor);
  color: white;
}

.isCurrent {
  border-color: var(--borderColor);
}
