.scrollContainer{
  height: var(--gridHeight);
  overflow: auto;
  padding: 0 0 var(--innerPadding);
}

.grid {
  display: flex;
  width: var(--innerWidth);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--innerPadding) var(--innerPadding);
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 calc(100% / 5 - 2px);
  height: var(--dayHeight);
  line-height: var(--dayHeight);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: var(--borderRadius);
  margin: var(--innerPadding) 1px 0;
  color: var(--baseColor);
  user-select: none;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:focus:not(.isSelected),
.wrapper:hover{
  background-color: var(--lightGray);
  color: var(--baseColor);
}

.isSelected {
  color: white;
  background-color: var(--active);
}

.isCurrent {
  border-color: var(--gray);
}