@import "./../../../variables";

.scrollContainer{
  height: $gridHeight;
  overflow: auto;
}

.grid {
  display: flex;
  width: $innerWidth;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 $innerPadding $innerPadding;
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: $yearCellFlex;
  height: $dayHeight;
  line-height: $dayHeight;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: $borderRadius;
  margin-top: $innerPadding;
  &:active{
    outline: none;
  }
  &:hover{
    background-color: $lightGray;
  }
  &.isSelected {
    color: white;
    background-color: $active;
  }
  &.isSameYear {
    border-color: $gray;
  }
}