.wrapper {
  background: var(--headerBgColor);
  padding: var(--innerPadding);
}

.currentDate {
  color: var(--headerTextColor);
  font-size: var(--fontSizeBig);
  font-weight: 300;
  text-align: left;
  letter-spacing: 1.6px;
}

.title {
  text-transform: uppercase;
  font-size: var(--fontSizeSmall);
  margin-bottom: calc(var(--innerPadding) * 1.5);
  color: var(--headerTextColor);
  letter-spacing: 1.6px;
  text-align: left;
}
