$dayWidth: 40px;
$dayHeight: $dayWidth;
$basePadding: 6px;
$innerPadding: 16px;
$innerWidth: 280px;
$datePickerWidth: $innerWidth + $innerPadding * 2;
$dayCellFlex: 1 1 calc(100% / 7);
$monthCellFlex: 1 1 calc(100% / 3);
$yearCellFlex: 1 1 calc(100% / 5);
$borderRadius: 4px;
$gridHeight: 247px;
$inputHeight: 25px;

$gray: rgba(0, 0, 0, 0.38);
$lightGray: rgba(0, 0, 0, 0.08);
$green: #43a047;
$disabled: $gray;
$active: #43a047;
$hoverColor: $lightGray;
$headerBgColor: $green;
$headerTextColor: white;

