@import "./variables";
.app{
  width: 900px;
  margin: 50px auto;
  display: flex;
  .container {
    margin-right: 100px;
  }
}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $gray;
  z-index: 9999;
  .modal-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}