.app{
  width: 900px;
  margin: 50px auto;
  display: flex;
  .container {
    margin-right: 100px;
  }
}

.portal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
}