.wrapper{
  padding: calc(var(--innerPadding)/2) var(--innerPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  color: var(--baseColor);
  user-select: none;
}

.buttons button:active,
.buttons button:focus{
  outline: none;
}

.buttons button:focus,
.buttons button:hover{
  background-color: var(--hoverColor);
}

.stepper button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  color: var(--baseColor);
  user-select: none;
}

.stepper button:active,
.stepper button:focus{
  outline: none;
}

.stepper button:focus,
.stepper button:hover{
  background-color: var(--hoverColor);
}