.grid {
  display: flex;
  width: var(--innerWidth);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--innerPadding) var(--innerPadding);
  height: var(--gridHeight);
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 calc(100% / 3 - 2px);
  margin: var(--innerPadding) 1px 0;
  height: var(--dayHeight);
  line-height: var(--dayHeight);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: var(--borderRadius);
  user-select: none;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:focus:not(.isSelected):not(.isDisabled),
.wrapper:hover:not(.isDisabled){
  background-color: var(--lightGray);
  color: var(--baseColor);
}

.isDisabled {
  opacity: .3;
  text-decoration: line-through;
  cursor: not-allowed;
}

.isSelected {
  color: white;
  background-color: var(--active);
}

.isCurrent {
  border-color: var(--gray);
}