.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(var(--calendarHeight) + var(--entryHeight) + var(--innerPadding) / 2);
  padding: 0 var(--innerPadding) var(--innerPadding);
  width: var(--calendarWidth);
}

.wrapper {
  border: 1px solid var(--bgColor);
  border-radius: var(--entryBorderRadius);
  box-sizing: border-box;
  cursor: pointer;
  flex: 1 1 calc(100% / 3 - 6px);
  height: var(--entryHeight);
  line-height: var(--entryHeight);
  margin: var(--innerPadding) var(--entryMargin) 0;
  text-align: center;
  user-select: none;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:hover:not(.isDisabled),
.wrapper:focus:not(.isSelected):not(.isDisabled) {
  background-color: var(--entryHoverColor);
  color: var(--textColor);
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.3;
  text-decoration: line-through;
}

.isSelected {
  background-color: var(--entrySelectedColor);
  color: white;
}

.isCurrent {
  border-color: var(--borderColor);
}
