@import "./../../../variables";

.month-wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: $monthCellFlex;
  height: $dayHeight;
  line-height: $dayHeight;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: $borderRadius;
  margin-top: $innerPadding;
  &:active{
    outline: none;
  }
  &:hover{
    background-color: $lightGray;
  }
  &.disabled {
    color: $disabled;
  }
  &.isSelected {
    color: white;
    background-color: $active;
  }
  &.isSameMonth {
    border-color: $gray;
  }
}