@import "./../../../variables";

.container{
  position: absolute;
  &.bottomLeft {
    left: 0;
    top: $inputHeight;
  }
  &.bottomRight {
    right: 0;
    top: $inputHeight;
  }
  &.topLeft {
    left: 0;
    bottom: $inputHeight;
  }
  &.topRight {
    right: 0;
    bottom: $inputHeight;
  }
}