.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: var(--calendarHeight);
  padding: 0 var(--innerPadding) calc(var(--innerPadding) / 2);
  width: var(--calendarWidth);
}

.placeholder,
.wrapper {
  border: 1px solid var(--bgColor);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  flex: 1 1 calc(100% / 7 - 4px);
  height: var(--entryHeight);
  line-height: var(--entryHeight);
  margin: 0 var(--entryMargin);
  text-align: center;
  user-select: none;
}

.placeholder {
  cursor: default;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:hover:not(.isDisabled),
.wrapper:focus:not(.isSelected):not(.isDisabled) {
  background-color: var(--entryHoverColor);
  color: var(--textColor);
}

.isWeekend {
  color: var(--weekendTextColor);
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.3;
  text-decoration: line-through;
}

.isSelected {
  background-color: var(--entrySelectedColor);
  color: white;
}

.isCurrent {
  border-color: var(--borderColor);
}

.isHighlighted {
  background-color: var(--entryHighlightColor);
}

.isHighlighted.isSelected {
  background: linear-gradient(135deg, var(--entryHighlightColor) 0%, var(--entryHighlightColor) 50%, var(--entrySelectedColor) 50%, var(--entrySelectedColor) 100%);
}
