.grid {
  display: flex;
  width: var(--innerWidth);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--innerPadding) var(--innerPadding);
  height: var(--gridHeight);
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 calc(100% / 7 - 2px);
  height: var(--dayHeight);
  line-height: var(--dayHeight);
  margin: 0 1px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:focus:not(.isSelected),
.wrapper:hover{
  background-color: var(--lightGray);
  color: var(--baseColor);
}

.isOtherMonth {
  color: var(--otherMonthColor);
}

.isWeekend {
  color: var(--weekendColor);
}

.isWeekend.isOtherMonth {
  opacity: .2;
}

.isDisabled {
  color: var(--lightGray);
  cursor: not-allowed;
}

.isWeekend.isDisabled {
  opacity: .2;
  color: var(--weekendColor);
}

.isWeekend.isDisabled:hover{
  opacity: 1;
  color: var(--baseColor);
}

.isDisabled {
  color: var(--lightGray);
  cursor: not-allowed;
}

.isSelected {
  color: white;
  background-color: var(--active);
}

.isCurrent {
  border-color: var(--gray);
}

.isHighlighted{
  background-color: var(--highlightColor);
}