.grid {
  display: flex;
  width: var(--calendarWidth);
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--innerPadding) calc(var(--innerPadding)/2);
  height: var(--calendarHeight);
}

.placeholder,
.wrapper {
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 calc(100% / 7 - 4px);
  height: var(--entryHeight);
  line-height: var(--entryHeight);
  margin: 0 var(--entryMargin);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.placeholder {
  cursor: default;
}

.wrapper:active,
.wrapper:focus {
  outline: none;
}

.wrapper:focus:not(.isSelected):not(.isDisabled),
.wrapper:hover:not(.isDisabled){
  background-color: var(--entryHoverColor);
  color: var(--baseColor);
}

.isWeekend {
  color: var(--weekendTextColor);
}

.isDisabled {
  opacity: .3;
  text-decoration: line-through;
  cursor: not-allowed;
}

.isSelected {
  color: white;
  background-color: var(--entrySelectedColor);
}

.isCurrent {
  border-color: var(--borderColor);
}

.isHighlighted{
  background-color: var(--entryHighlightColor);
}