@import "./../../../variables";

.day-wrapper {
  //width: $dayWidth;
  text-align: center;
  //padding: $basePadding;
  box-sizing: border-box;
  flex: $dayCellFlex;
  height: $dayHeight;
  line-height: $dayHeight;
  &.disabled {
    color: $disabled;
  }
  &.isToday {
    border: 1px solid $gray;
    border-radius: 50%;
  }
}